html,
body {
    margin: 0;
    position: relative;
    height: 100%;
    background-color: black;
    overflow-y: auto;
}

ul {
    margin: 0;
    color: white;
    list-style: none;
    padding: 0 5px;
    background-color: rgba(8, 8, 8, 1);
    font-size: 25px;
}

li {
    display: inline;
    padding: 0 5px;
}

* {
    box-sizing: border-box;
}

/*li:hover {*/
/*background-color: black;*/
/*}*/
.left {
    float: right;
}

#main {
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 51px);
    width: 100%;
    justify-content: space-evenly;
    padding-top: 22px;
}

#navbar {
    position: fixed;
    width: 100%;
}

#groupMetaSuggest {
    width: 47%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#metadataSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    height: 48%;
    border-radius: 20px;
    background-color: #191414;
}

#metadataSection>div {
    color: #ffffff;
}

#image {
    width: 40%;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#image>img {
    max-width: 150px;
    align-self: center;
}

#songInfo {
    width: 60%;
    padding: 20px 20px 20px 0;
}

#lyricSection {
    white-space: pre-wrap;
    padding: 20px;
    overflow-y: auto;
    color: white;
    height: calc(100% - 25px);
    border-radius: 20px;
    background-color: #191414;
    width: 47%;
    margin-top: 25px;
    position: relative;
    top: 0;
}

#lyricsDiv {
    font-size: 16px;
}

#options {
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 5%;
    font-size: 19px;
    background-color: crimson;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#options>div {
    display: inline-block;
    width: 25%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    padding-top: 4px;
}

#options>div:hover {
    background-color: #af122d;
}

#songInfo span {
    width: 100%;
    display: inline-block;
}

#songName {
    font-size: calc(10px + 3vw);
}

.songMeta {
    font-size: calc(7px + 1.3vw);
    color: #bababa;
}

#suggestSongSection {
    height: 50%;
    width: 100%;
    margin: 0;
    display: inline-block;
    border-radius: 20px;
    background-color: #191414;
}

#beforeGetSuggestion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#beforeGetSuggestion>button {
    height: 34px;
    width: 30%;
    min-width: 121px;
    border-radius: 6px;
    background-color: #cb1439;
    border: 0;
    color: white;
    cursor: pointer;
}

#beforeGetSuggestion>button:hover {
    background-color: crimson;
}

#afterGetSuggestion {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

#afterGetSuggestion>div {
    width: 33.33%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#afterGetSuggestion>div>a {
    text-decoration: none;
}

#afterGetSuggestion img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

#afterGetSuggestion figure {
    margin: 0 auto;
}

#afterGetSuggestion figcaption {
    text-align: center;
    margin-top: 5%;
    color: #ffffff;
}

#afterGetSuggestion span {
    font-size: 10px;
    color: #bfbfbf;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 600px) {
    #lyricSection {
        order: 1;
        width: 90%;
    }

    #groupMetaSuggest {
        order: 2;
        width: 90%;
    }

    #songName {
        font-size: calc(12px + 3vh);
    }

    #songInfo {
        font-size: 3vw;
    }

    #metadataSection {
        height: 315px;
        margin-bottom: 25px;
    }

    #suggestSongSection {
        min-height: 100px;
        height: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #afterGetSuggestion {
        align-items: baseline;
    }
}